<div class="col-xs-offset-2 col-xs-8 devise-form">
  <% if alert %>
    <div class="alert alert-danger" role="alert"><%= alert %></div>
  <% end %>
  <h2>Регистрация:</h2>
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'form-horizontal' }, wrapper: :horizontal_form) do |f| %>
    <%= f.input :email, required: true, autofocus: true %>
    <%= f.input :password, required: true %>
    <%= f.input :password_confirmation, required: true %>
    <%= f.button :submit, "Зарегистрироваться", :class => "pull-right" %>
  <% end %>
</div>

