<%= render :partial => 'commons/breadcrumbs' %>
<%= simple_nested_form_for [@software_product, @replication_model], html: { class: 'form-horizontal' }, wrapper: :horizontal_form do |f| %>
  <%= f.input :title, :include_blank => false%>
  <%= f.input :fixed_costs %>
  <%= f.input :variable_costs %>
  <%= f.simple_fields_for :workforces, html: { class: 'form-horizontal' }, wrapper: :horizontal_form do |wf| %>
    <div class="panel panel-default">
      <div class="panel-body">
        <%= wf.input :specialists %>
        <%= wf.input :fixed_resources %>
        <%= wf.input :variable_resources %>
        <%= wf.link_to_remove "Удалить трудовые ресурсы", :class => "pull-right" %>
      </div>
    </div>
  <% end %>
  <%= f.link_to_add "Добавить трудовые русурсы", :workforces, :class => "btn btn-primary" %>
  <%= f.button :submit, :class => "pull-right btn-success" %>
<% end %>
