<%= render :partial => 'commons/breadcrumbs' %>
<% if params[:job_id] %>
  <div class="js-progress">
    <p><%= I18n.t("progressbar.title.#{params[:pb_kind]}") %></p>
    <div class="progress">
      <div class="js-progressbar progress-bar progress-bar-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 0%;" data-jobid=<%= params[:job_id] %>></div>
    </div>
  </div>
  <div class="js-panel-body"></div>
<% else %>
  <%= link_to new_software_product_grouping_segment_path(@software_product, @grouping), :class=> "btn btn-success pull-right" do %>
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    Добавить сегмент
  <% end %>
  <% if @grouping.segments.present? %>
    <%= render :partial => 'segments' %>
  <% else %>
    <p>Не добавлен ни один сегмент</p>
  <% end %>
<% end %>
