<div class="col-xs-offset-2 col-xs-8 devise-form">
  <% if alert %>
    <div class="alert alert-danger" role="alert"><%= alert %></div>
  <% end %>
  <h2>Вход в систему:</h2>
  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'form-horizontal' }, wrapper: :horizontal_form) do |f| %>
    <%= f.input :email, required: false, autofocus: true %>
    <%= f.input :password, required: false %>
    <%= f.button :submit, "Войти", :class => "pull-right btn-success" %>
  <% end %>
</div>
