<%= render :partial => 'commons/breadcrumbs' %>
<p><b>Название альтернативы:    </b><%= @alternative.segment_full_name %><span class="badge"><%= @alternative.segment.research_items.count %></span></p>
<%= simple_form_for [@software_product, @grouping, @alternative] do |f| %>
  <% if params[:profit]  %>
    <%= f.input :average_cost, :input_html => { :min => 0 } %>
    <%= f.input :pessimistic_profit, :input_html => { :min => 0 } %>
    <%= f.input :real_profit, :input_html => { :min => 0 } %>
    <%= f.input :optimistic_profit, :input_html => { :min => 0 } %>
  <% else %>
    <% (1..10).each do |index| %>
      <%= f.label "parameter#{index}" %>
      <div class="parameter-values">
        <%= f.input "parameter#{index}", :as => :integer, :label => false, :hint => "Оптимистичный",
          :input_html => {:name => "alternative[parameter#{index}][]", :min => 0, :max => 10, :value => @alternative.send("parameter#{index}")[0]} %>
        <%= f.input "parameter#{index}", :as => :integer, :label => false, :hint => "Наибольший",
          :input_html => {:name => "alternative[parameter#{index}][]", :min => 0, :max => 10, :value => @alternative.send("parameter#{index}")[1]} %>
        <%= f.input "parameter#{index}", :as => :integer, :label => false, :hint => "Пессимистичный",
          :input_html => {:name => "alternative[parameter#{index}][]", :min => 0, :max => 10, :value => @alternative.send("parameter#{index}")[2]} %>
      </div>
    <% end %>
  <% end %>
  <%= f.button :submit %>
<% end %>
