<div class="table-responsive">
  <table class="table table-hover table-condensed table-bordered">
    <thead>
      <th>Название</th>
      <th>Модель распростананеия</th>
      <th>Объем продаж</th>
      <th>Объем инвестиций</th>
      <th>Прогнозируемая прибыль</th>
      <th>Интегральный показатель привлекательности</th>
      <th>Трудовые ресурсы</th>
    </thead>
    <tbody>
      <% @alternatives.each_with_index do |alternative, index| %>
        <tr>
          <td><%= alternative.segment_full_name %></td>
          <td>
            <%= alternative.replication_model_title %>
            (<%= alternative.investition_percent %>%)
          </td>
          <td><%= alternative.sales %></td>
          <td><%= alternative.investiton %></td>
          <td>
            <%= alternative.profit %>
            <%= link_to "Изменить", edit_software_product_grouping_alternative_path(@software_product, @grouping, alternative, :profit => true)  %>
          </td>
          <td>
            <%= alternative.attractiveness.round(2) %>
            <%= link_to "Изменить", edit_software_product_grouping_alternative_path(@software_product, @grouping, alternative)  %>
          </td>
          <td><%= alternative.workforce_values %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
