<% content_for :segments do %>
  <div class="row">
    <div class="col-xs-2">
      <ul class="nav nav-pills nav-stacked">
        <%= content_tag :li, :class => controller_name == 'segments' && !params[:childless] ? 'active' : nil  do %>
           <%= link_to "Сегменты", software_product_grouping_segments_path(@software_product, @grouping) %>
        <% end %>
        <%= content_tag :li, :class => params[:childless] ? 'active' : nil  do %>
          <%= link_to "Варианты поставки", software_product_grouping_segments_path(@software_product, @grouping, :childless => true) %>
        <% end %>
        <%= content_tag :li, :class => controller_name == 'parameter_weights' ? 'active' : nil  do %>
           <%= link_to "Веса показателей привелигированности", software_product_grouping_parameter_weight_path(@software_product, @grouping, @software_product.parameter_weight) %>
        <% end %>
        <%= content_tag :li, :class => controller_name == 'alternatives' ? 'active' : nil  do %>
           <%= link_to "Оценка альтернатив", software_product_grouping_alternatives_path(@software_product, @grouping) %>
        <% end %>
      </ul>
    </div>
    <div class="col-xs-10">
      <%= yield %>
    </div>
  </div>
<% end %>
<%= render template: "layouts/application" %>
